.modal{
    background-color: rgb(66, 66, 66);
    margin: auto;
    z-index: 1000;
    /* border-radius: 10%; */
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
}
.winMenu{
    margin: auto;
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: rgb(230, 230, 230);
}